.container {
	max-width: 960px;
	margin: 0 auto;
}

.search {
	margin: 15px 0;
}

.header {
	text-align: center;
	margin: 20px 0
}

.logo {
	height: 100px;
}

.section {
	text-align: center;
	line-height: 30px;
}