.container {
	max-width: 960px;
	margin: 0 auto;
}

.search {
  width: 270px;
  margin: 10px 0;
  height: 20px;
  float: right;
  font-size: 15px;
}

.selection {
	margin: 20px 0;
	height: 30px;
}

.header {
	text-align: center;
	margin: 20px 0
}

.logo {
	height: 100px;
	text-align: center;	
}

.section {
	text-align: center;
	line-height: 30px;
}

.articles-list {
	margin-top: 30px;
}